In [243]:
import pandas as pd
import numpy as np

from tqdm.notebook import tqdm

from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
from sklearn.neighbors import NearestNeighbors
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

from sklearn.model_selection import GridSearchCV
%matplotlib inline

In [2]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

#### Построить рекомендации (регрессия, предсказываем оценку) на фичах:

Буду строить не регрессию, а классификацию, так как оценки это качественная переменная, а не количественная.  
Классификатор справится с этой задачей лучше. 

**логика A**:
- 3 фильма, которым уникальный для каждого пользователя классификатор присвоил рейтинг 5,  будут рекомендованы пользователю.

- Если пользователь поставил только одну оценку или все время ставил одну и ту же оценку, то:
    - будет использован метод наименьших соседей. 
    - Тот фильм, который находится ближе всех к просмотренным фильмам будет рекомендован пользователю. 

1. Соберем все таблицы
1. Соберем для пользователя все метрики
1. Соберем все метрики general (в общем). Чтобы бегать по ним при поиске лучшей рекомендации
1. Выберем классификатор который лучше всех справляется с задачей.
1. Соберем для каждого пользователя уникальный классификатор
1. Пробежим по всем метрикам для каждого пользователя и порекомендуем ему тот фильм согласно **логике A**
1. Средние оценки (+ median, variance, etc.) пользователя и фильма

PS. Оценить RMSE на тестовой выборке не проводится, так ка при выборе класификатора уже производится разбивка на train, test и записывается score на test. ( смотри **таблица с рекомендациями. Последняя строка 'Score'**)

#### Соберем все таблицы

In [ ]:
ratings_tags = ratings.join(tags.set_index(['userId','movieId' ]) ,on=['userId','movieId' ],rsuffix='r')

In [42]:
ratings_tags.drop(columns=['timestamp','timestampr'],inplace=True)

In [52]:
ratings_tags_movies = ratings_tags.join(movies.set_index('movieId'), on='movieId'  ).sort_values(by='userId')

In [54]:
for i in ratings_tags_movies.columns:
    print(i ,ratings_tags_movies[i].isna().sum() )

userId 0
movieId 0
rating 0
tag 99201
title 0
genres 0

Заменим пустые значения фразой 'there_is_empty_tag'

In [56]:
ratings_tags_movies.fillna(value='there_is_empty_tag',inplace=True)

In [57]:
for i in ratings_tags_movies.columns:
    print(i ,ratings_tags_movies[i].isna().sum() )

userId 0
movieId 0
rating 0
tag 0
title 0
genres 0

собранная таблица

In [58]:
ratings_tags_movies.head(3)

,userId,movieId,rating,tag,title,genres
0,1,1,4.0,there_is_empty_tag,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
147,1,2329,5.0,there_is_empty_tag,American History X (1998),Crime|Drama
148,1,2338,2.0,there_is_empty_tag,I Still Know What You Did Last Summer (1998),Horror|Mystery|Thriller

#### Соберем для пользователя все метрики

In [ ]:
tags_grouped = []
genres_grouped = []
movies_grouped = []
rating_grouped = []

for user_name,dataset in ratings_tags_movies.groupby(by='userId'):
    tags_grouped.append( dataset.tag.values)
    genres_grouped.append( [i.replace('|',' ') for i in dataset.genres.values]  )
    movies_grouped.append( dataset.movieId.values )
    rating_grouped.append( (dataset.rating.values*2).astype(np.int8) ) # Небольшая хитрость для того чтобы использовать Классификатор а не регрессию

#### Соберем все метрики general (в общем). Чтобы бегать по ним при поиске лучшей рекомендации

In [389]:
all_films_tags_grouped = []
all_films_genres_grouped = []
all_films_titles = []
all_films_rating_grouped = []

for movie_id,dataset in ratings_tags_movies.groupby(by='movieId'):
    all_films_tags_grouped.append( [' '.join(set( dataset.tag.values) ) ]  )
    all_films_genres_grouped.append( dataset.genres.iloc[0].replace('|',' ')   )
    all_films_titles.append( dataset.title.iloc[0])
    all_films_rating_grouped.append( dataset.rating.values )

#### Выберем классификатор который лучше всех справляется с задачей.

##### Сравнивал:
- Логит(multinominal,ovr)
- RandomForest  

Результаты одинаковые, Логит в 15 раз быстрее. Далее усовершенствовал логит

- bootstrap + Logit
- GridSearch + bootstrap + Logit

##### Победил Логит (multinominal) из коробки

In [251]:
logit = LogisticRegression(solver = 'saga', multi_class='multinomial')
X_train, X_test, y_train, y_test = train_test_split(X_genres_tags_sparse_tfidf.toarray(),rating_grouped[0],test_size=.15,random_state=42)

In [262]:
# Результаты логита
logit.fit(X_train,y_train)
logit.score(X_train,y_train), logit.score(X_test,y_test)

(0.5786802030456852, 0.6)

In [263]:
# результаты RandomForestClassifier 
rf = RandomForestClassifier(n_jobs=-1)
rf.fit(X_train,y_train)
rf.score(X_train,y_train), rf.score(X_test,y_test)

(0.7766497461928934, 0.4857142857142857)

#### Соберем для каждого пользователя уникальный классификатор

In [490]:
set_for_each_user = dict()

for i in range(len(genres_grouped)):
    genres_count_vect = CountVectorizer()
    tags_count_vect = CountVectorizer(ngram_range =(1,2)) # Это для тэгов разделять на одно и два слова, например "Том Харди"
    tfidf_transformer = TfidfTransformer()

    X_genres_sparse = genres_count_vect.fit_transform(genres_grouped[i])
    X_tags_sparse = tags_count_vect.fit_transform(tags_grouped[i])
    X_genres_tags_sparse = np.hstack(  ( X_genres_sparse.toarray(),X_tags_sparse.toarray() )  )  

    X_genres_tags_sparse_tfidf = tfidf_transformer.fit_transform(X_genres_tags_sparse)

    if len( set( rating_grouped[i] ) ) == 1: # пользователь всегда ставил одну и ту же оценку 
        neigh = NearestNeighbors(n_neighbors=5, n_jobs=-1, metric='manhattan') 
        neigh.fit(X_genres_tags_sparse_tfidf.toarray())
        algo = neigh
        score = 'knn'
    else:
        # среди классификаторов Победил логит 
        logit = LogisticRegression(solver = 'saga', multi_class='multinomial')
        # train test split
        X_train, X_test, y_train, y_test = train_test_split(X_genres_tags_sparse_tfidf.toarray(),rating_grouped[i],test_size=.05,random_state=42)

        logit.fit(X_train,y_train)
        algo = logit
        score = logit.score(X_test,y_test)

    set_for_each_user[i+1] = {'genres_coun_vectorizer':genres_count_vect,
                            'tags_count_vect':tags_count_vect,
                           'tf_idf_transformer':tfidf_transformer,
                           'algoritm': algo,
                           'algo_score':score }

#### Пробежим по всем метрикам для каждого пользователя и порекомендуем ему тот фильм согласно логике A

In [503]:
all_users = ratings_tags_movies.userId.unique()
def find_better_film(user,n_films=3):
    if user not in all_users: return print('Error. user id is not exist')
    results = []
    results_4 = []
    flag_4, flag_5 = False, False
    
    for i in range( len(all_films_titles)  ):
        film_genres_sparse = set_for_each_user[user]['genres_coun_vectorizer'].transform([all_films_genres_grouped[i]])
        film_tags_sparse = set_for_each_user[user]['tags_count_vect'].transform(all_films_tags_grouped[i] )
        film_genres_tags_sparse = np.hstack(  ( film_genres_sparse.toarray(),film_tags_sparse.toarray() )  )  

        film_genres_tags_sparse_tfidf = set_for_each_user[user]['tf_idf_transformer'].transform(film_genres_tags_sparse)
        
        if set_for_each_user[user]['algo_score'] != 'knn':
            y_pred = set_for_each_user[user]['algoritm'].predict(film_genres_tags_sparse_tfidf.toarray() )
            y_pred = int(y_pred/2)
        else: 
            flag_4 = set_for_each_user[user]['algoritm'].kneighbors(film_genres_tags_sparse_tfidf.toarray(), return_distance=True)[0].min()<.7
            flag_5 = set_for_each_user[user]['algoritm'].kneighbors(film_genres_tags_sparse_tfidf.toarray(), return_distance=True)[0].min()<.2
            if flag_5: y_pred = 5
            elif flag_4: y_pred = 4
            else:  y_pred = 0
            flag_4, flag_5 = False, False
        
        if  y_pred == 5: results.append(all_films_titles[i])
        if  y_pred == 4: results_4.append(all_films_titles[i])
        
        if len(results) == n_films: return results,set_for_each_user[user]['algo_score']
    
    if len(results) < n_films: 
        a = n_films - len(results)
        results.append(results_4[:a])
    return results,set_for_each_user[user]['algo_score']

In [505]:
results = []

for i in all_users:
        results.append(find_better_film(i))

#### Таблица рекомендаций:

In [514]:
columns = ['_'.join(['user',str(i)]) for i in all_users]

In [515]:
columns

['user_1',
 'user_2',
 'user_3',
 'user_4',
 'user_5',
 'user_6',
 'user_7',
 'user_8',
 'user_9',
 'user_10',
 'user_11',
 'user_12',
 'user_13',
 'user_14',
 'user_15',
 'user_16',
 'user_17',
 'user_18',
 'user_19',
 'user_20',
 'user_21',
 'user_22',
 'user_23',
 'user_24',
 'user_25',
 'user_26',
 'user_27',
 'user_28',
 'user_29',
 'user_30',
 'user_31',
 'user_32',
 'user_33',
 'user_34',
 'user_35',
 'user_36',
 'user_37',
 'user_38',
 'user_39',
 'user_40',
 'user_41',
 'user_42',
 'user_43',
 'user_44',
 'user_45',
 'user_46',
 'user_47',
 'user_48',
 'user_49',
 'user_50',
 'user_51',
 'user_52',
 'user_53',
 'user_54',
 'user_55',
 'user_56',
 'user_57',
 'user_58',
 'user_59',
 'user_60',
 'user_61',
 'user_62',
 'user_63',
 'user_64',
 'user_65',
 'user_66',
 'user_67',
 'user_68',
 'user_69',
 'user_70',
 'user_71',
 'user_72',
 'user_73',
 'user_74',
 'user_75',
 'user_76',
 'user_77',
 'user_78',
 'user_79',
 'user_80',
 'user_81',
 'user_82',
 'user_83',
 'user_84',
 'user_85',
 'user_86',
 'user_87',
 'user_88',
 'user_89',
 'user_90',
 'user_91',
 'user_92',
 'user_93',
 'user_94',
 'user_95',
 'user_96',
 'user_97',
 'user_98',
 'user_99',
 'user_100',
 'user_101',
 'user_102',
 'user_103',
 'user_104',
 'user_105',
 'user_106',
 'user_107',
 'user_108',
 'user_109',
 'user_110',
 'user_111',
 'user_112',
 'user_113',
 'user_114',
 'user_115',
 'user_116',
 'user_117',
 'user_118',
 'user_119',
 'user_120',
 'user_121',
 'user_122',
 'user_123',
 'user_124',
 'user_125',
 'user_126',
 'user_127',
 'user_128',
 'user_129',
 'user_130',
 'user_131',
 'user_132',
 'user_133',
 'user_134',
 'user_135',
 'user_136',
 'user_137',
 'user_138',
 'user_139',
 'user_140',
 'user_141',
 'user_142',
 'user_143',
 'user_144',
 'user_145',
 'user_146',
 'user_147',
 'user_148',
 'user_149',
 'user_150',
 'user_151',
 'user_152',
 'user_153',
 'user_154',
 'user_155',
 'user_156',
 'user_157',
 'user_158',
 'user_159',
 'user_160',
 'user_161',
 'user_162',
 'user_163',
 'user_164',
 'user_165',
 'user_166',
 'user_167',
 'user_168',
 'user_169',
 'user_170',
 'user_171',
 'user_172',
 'user_173',
 'user_174',
 'user_175',
 'user_176',
 'user_177',
 'user_178',
 'user_179',
 'user_180',
 'user_181',
 'user_182',
 'user_183',
 'user_184',
 'user_185',
 'user_186',
 'user_187',
 'user_188',
 'user_189',
 'user_190',
 'user_191',
 'user_192',
 'user_193',
 'user_194',
 'user_195',
 'user_196',
 'user_197',
 'user_198',
 'user_199',
 'user_200',
 'user_201',
 'user_202',
 'user_203',
 'user_204',
 'user_205',
 'user_206',
 'user_207',
 'user_208',
 'user_209',
 'user_210',
 'user_211',
 'user_212',
 'user_213',
 'user_214',
 'user_215',
 'user_216',
 'user_217',
 'user_218',
 'user_219',
 'user_220',
 'user_221',
 'user_222',
 'user_223',
 'user_224',
 'user_225',
 'user_226',
 'user_227',
 'user_228',
 'user_229',
 'user_230',
 'user_231',
 'user_232',
 'user_233',
 'user_234',
 'user_235',
 'user_236',
 'user_237',
 'user_238',
 'user_239',
 'user_240',
 'user_241',
 'user_242',
 'user_243',
 'user_244',
 'user_245',
 'user_246',
 'user_247',
 'user_248',
 'user_249',
 'user_250',
 'user_251',
 'user_252',
 'user_253',
 'user_254',
 'user_255',
 'user_256',
 'user_257',
 'user_258',
 'user_259',
 'user_260',
 'user_261',
 'user_262',
 'user_263',
 'user_264',
 'user_265',
 'user_266',
 'user_267',
 'user_268',
 'user_269',
 'user_270',
 'user_271',
 'user_272',
 'user_273',
 'user_274',
 'user_275',
 'user_276',
 'user_277',
 'user_278',
 'user_279',
 'user_280',
 'user_281',
 'user_282',
 'user_283',
 'user_284',
 'user_285',
 'user_286',
 'user_287',
 'user_288',
 'user_289',
 'user_290',
 'user_291',
 'user_292',
 'user_293',
 'user_294',
 'user_295',
 'user_296',
 'user_297',
 'user_298',
 'user_299',
 'user_300',
 'user_301',
 'user_302',
 'user_303',
 'user_304',
 'user_305',
 'user_306',
 'user_307',
 'user_308',
 'user_309',
 'user_310',
 'user_311',
 'user_312',
 'user_313',
 'user_314',
 'user_315',
 'user_316',
 'user_317',
 'user_318',
 'user_319',
 'user_320',
 'user_321',
 'user_322',
 'user_323',
 'user_324',
 'user_325',
 'user_326',
 'user_327',
 'user_328',
 'user_329',
 'user_330',
 'user_331',
 'user_332',
 'user_333',
 'user_334',
 'user_335',
 'user_336',
 'user_337',
 'user_338',
 'user_339',
 'user_340',
 'user_341',
 'user_342',
 'user_343',
 'user_344',
 'user_345',
 'user_346',
 'user_347',
 'user_348',
 'user_349',
 'user_350',
 'user_351',
 'user_352',
 'user_353',
 'user_354',
 'user_355',
 'user_356',
 'user_357',
 'user_358',
 'user_359',
 'user_360',
 'user_361',
 'user_362',
 'user_363',
 'user_364',
 'user_365',
 'user_366',
 'user_367',
 'user_368',
 'user_369',
 'user_370',
 'user_371',
 'user_372',
 'user_373',
 'user_374',
 'user_375',
 'user_376',
 'user_377',
 'user_378',
 'user_379',
 'user_380',
 'user_381',
 'user_382',
 'user_383',
 'user_384',
 'user_385',
 'user_386',
 'user_387',
 'user_388',
 'user_389',
 'user_390',
 'user_391',
 'user_392',
 'user_393',
 'user_394',
 'user_395',
 'user_396',
 'user_397',
 'user_398',
 'user_399',
 'user_400',
 'user_401',
 'user_402',
 'user_403',
 'user_404',
 'user_405',
 'user_406',
 'user_407',
 'user_408',
 'user_409',
 'user_410',
 'user_411',
 'user_412',
 'user_413',
 'user_414',
 'user_415',
 'user_416',
 'user_417',
 'user_418',
 'user_419',
 'user_420',
 'user_421',
 'user_422',
 'user_423',
 'user_424',
 'user_425',
 'user_426',
 'user_427',
 'user_428',
 'user_429',
 'user_430',
 'user_431',
 'user_432',
 'user_433',
 'user_434',
 'user_435',
 'user_436',
 'user_437',
 'user_438',
 'user_439',
 'user_440',
 'user_441',
 'user_442',
 'user_443',
 'user_444',
 'user_445',
 'user_446',
 'user_447',
 'user_448',
 'user_449',
 'user_450',
 'user_451',
 'user_452',
 'user_453',
 'user_454',
 'user_455',
 'user_456',
 'user_457',
 'user_458',
 'user_459',
 'user_460',
 'user_461',
 'user_462',
 'user_463',
 'user_464',
 'user_465',
 'user_466',
 'user_467',
 'user_468',
 'user_469',
 'user_470',
 'user_471',
 'user_472',
 'user_473',
 'user_474',
 'user_475',
 'user_476',
 'user_477',
 'user_478',
 'user_479',
 'user_480',
 'user_481',
 'user_482',
 'user_483',
 'user_484',
 'user_485',
 'user_486',
 'user_487',
 'user_488',
 'user_489',
 'user_490',
 'user_491',
 'user_492',
 'user_493',
 'user_494',
 'user_495',
 'user_496',
 'user_497',
 'user_498',
 'user_499',
 'user_500',
 'user_501',
 'user_502',
 'user_503',
 'user_504',
 'user_505',
 'user_506',
 'user_507',
 'user_508',
 'user_509',
 'user_510',
 'user_511',
 'user_512',
 'user_513',
 'user_514',
 'user_515',
 'user_516',
 'user_517',
 'user_518',
 'user_519',
 'user_520',
 'user_521',
 'user_522',
 'user_523',
 'user_524',
 'user_525',
 'user_526',
 'user_527',
 'user_528',
 'user_529',
 'user_530',
 'user_531',
 'user_532',
 'user_533',
 'user_534',
 'user_535',
 'user_536',
 'user_537',
 'user_538',
 'user_539',
 'user_540',
 'user_541',
 'user_542',
 'user_543',
 'user_544',
 'user_545',
 'user_546',
 'user_547',
 'user_548',
 'user_549',
 'user_550',
 'user_551',
 'user_552',
 'user_553',
 'user_554',
 'user_555',
 'user_556',
 'user_557',
 'user_558',
 'user_559',
 'user_560',
 'user_561',
 'user_562',
 'user_563',
 'user_564',
 'user_565',
 'user_566',
 'user_567',
 'user_568',
 'user_569',
 'user_570',
 'user_571',
 'user_572',
 'user_573',
 'user_574',
 'user_575',
 'user_576',
 'user_577',
 'user_578',
 'user_579',
 'user_580',
 'user_581',
 'user_582',
 'user_583',
 'user_584',
 'user_585',
 'user_586',
 'user_587',
 'user_588',
 'user_589',
 'user_590',
 'user_591',
 'user_592',
 'user_593',
 'user_594',
 'user_595',
 'user_596',
 'user_597',
 'user_598',
 'user_599',
 'user_600',
 'user_601',
 'user_602',
 'user_603',
 'user_604',
 'user_605',
 'user_606',
 'user_607',
 'user_608',
 'user_609',
 'user_610']

In [513]:
len(results)

610

In [524]:
final_table = pd.DataFrame(  data=results, index=columns, columns=['recommended_films','probability'] )
final_table.head(10)

                                         recommended_films probability
user_1   [Toy Story (1995), Jumanji (1995), Father of t...    0.333333
user_2   [Toy Story (1995), Jumanji (1995), Grumpier Ol...           0
user_3   [GoldenEye (1995), Twelve Monkeys (a.k.a. 12 M...           1
user_4   [Toy Story (1995), Jumanji (1995), Father of t...    0.181818
user_5   [Pocahontas (1995), Wild Bill (1995), Farinell...    0.333333
user_6   [Lion King, The (1994), Aladdin (1992), Missio...       0.375
user_7   [Species (1995), Mary Shelley's Frankenstein (...       0.125
user_8   [Tom and Huck (1995), Balto (1995), Casino (19...    0.333333
user_9   [Jumanji (1995), Cutthroat Island (1995), City...           0
user_10  [Heat (1995), Sudden Death (1995), Casino (1995)]    0.428571

#### Средние оценки (+ median, variance, etc.) пользователя и фильма

##### По фильмам

In [58]:
ratings_tags_movies.head(3)

,userId,movieId,rating,tag,title,genres
0,1,1,4.0,there_is_empty_tag,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
147,1,2329,5.0,there_is_empty_tag,American History X (1998),Crime|Drama
148,1,2338,2.0,there_is_empty_tag,I Still Know What You Did Last Summer (1998),Horror|Mystery|Thriller

In [508]:
ratings_tags_movies.groupby(by='movieId').rating.agg(['mean', 'median','std'])

             mean  median       std
movieId
1        3.920930     4.0  0.834859
2        3.441964     3.5  0.876997
3        3.245283     3.0  1.049829
4        2.357143     3.0  0.852168
5        3.040000     3.0  0.924938
...           ...     ...       ...
193581   4.000000     4.0       NaN
193583   3.500000     3.5       NaN
193585   3.500000     3.5       NaN
193587   3.500000     3.5       NaN
193609   4.000000     4.0       NaN

[9724 rows x 3 columns]

##### По пользователям

In [58]:
ratings_tags_movies.head(3)

,userId,movieId,rating,tag,title,genres
0,1,1,4.0,there_is_empty_tag,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
147,1,2329,5.0,there_is_empty_tag,American History X (1998),Crime|Drama
148,1,2338,2.0,there_is_empty_tag,I Still Know What You Did Last Summer (1998),Horror|Mystery|Thriller

In [509]:
ratings_tags_movies.groupby(by='userId').rating.agg(['mean', 'median','std'])

            mean  median       std
userId
1       4.366379     5.0  0.800048
2       4.128571     4.0  0.834397
3       2.435897     0.5  2.090642
4       3.555556     4.0  1.314204
5       3.636364     4.0  0.990441
...          ...     ...       ...
606     3.657399     4.0  0.724121
607     3.786096     4.0  0.965657
608     3.134176     3.0  1.079262
609     3.270270     3.0  0.450225
610     3.689563     3.5  0.857862

[610 rows x 3 columns]

In [510]:
ratings_tags_movies.groupby(by='userId').agg(std =('rating', np.std), median=('rating', np.median), mean=('rating', np.mean))

             std  median      mean
userId
1       0.800048     5.0  4.366379
2       0.834397     4.0  4.128571
3       2.090642     0.5  2.435897
4       1.314204     4.0  3.555556
5       0.990441     4.0  3.636364
...          ...     ...       ...
606     0.724121     4.0  3.657399
607     0.965657     4.0  3.786096
608     1.079262     3.0  3.134176
609     0.450225     3.0  3.270270
610     0.857862     3.5  3.689563

[610 rows x 3 columns]